.elementor-2377 .elementor-element.elementor-element-5364b50:not(.elementor-motion-effects-element-type-background), .elementor-2377 .elementor-element.elementor-element-5364b50 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#232323;}.elementor-2377 .elementor-element.elementor-element-5364b50{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2377 .elementor-element.elementor-element-5364b50 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2377 .elementor-element.elementor-element-9ba11b1:not(.elementor-motion-effects-element-type-background), .elementor-2377 .elementor-element.elementor-element-9ba11b1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#232323;}.elementor-2377 .elementor-element.elementor-element-9ba11b1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-2377 .elementor-element.elementor-element-9ba11b1 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2377 .elementor-element.elementor-element-d45d58a .elementor-menu-toggle{margin:0 auto;}.elementor-2377 .elementor-element.elementor-element-d45d58a .elementor-nav-menu--main .elementor-item{color:#FFFFFF;}.elementor-2377 .elementor-element.elementor-element-d45d58a .elementor-nav-menu--main .elementor-item:hover,
					.elementor-2377 .elementor-element.elementor-element-d45d58a .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-2377 .elementor-element.elementor-element-d45d58a .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-2377 .elementor-element.elementor-element-d45d58a .elementor-nav-menu--main .elementor-item:focus{color:#AF9D66;}.elementor-2377 .elementor-element.elementor-element-297dff9 > .elementor-widget-container{margin:-15px -15px -15px -15px;}.elementor-2377 .elementor-element.elementor-element-91299dd .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-2377 .elementor-element.elementor-element-91299dd .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-2377 .elementor-element.elementor-element-91299dd .elementor-button{border-radius:5px 5px 5px 5px;}.elementor-2377 .elementor-element.elementor-element-86b7fd0 > .elementor-widget-container{margin:-15px -15px -15px -15px;}.elementor-2377 .elementor-element.elementor-element-dd044e2{margin-top:15px;margin-bottom:0px;}.elementor-2377 .elementor-element.elementor-element-21f9f65a .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-2377 .elementor-element.elementor-element-21f9f65a .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-2377 .elementor-element.elementor-element-21f9f65a .elementor-button{fill:#FFFFFF;color:#FFFFFF;background-color:#37D210;border-radius:5px 5px 5px 5px;}.elementor-2377 .elementor-element.elementor-element-31a4a99c .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-2377 .elementor-element.elementor-element-31a4a99c .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-2377 .elementor-element.elementor-element-31a4a99c .elementor-button{border-radius:5px 5px 5px 5px;}.elementor-2377 .elementor-element.elementor-element-2639f6c7{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;}.elementor-2377 .elementor-element.elementor-element-2639f6c7 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2377 .elementor-element.elementor-element-43cea66d .elementor-spacer-inner{height:10px;}.elementor-2377 .elementor-element.elementor-element-fcca00b .elementor-menu-toggle{margin:0 auto;}.elementor-2377 .elementor-element.elementor-element-fcca00b .elementor-nav-menu--main .elementor-item{color:#000000;}.elementor-2377 .elementor-element.elementor-element-fcca00b .elementor-nav-menu--main .elementor-item:hover,
					.elementor-2377 .elementor-element.elementor-element-fcca00b .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-2377 .elementor-element.elementor-element-fcca00b .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-2377 .elementor-element.elementor-element-fcca00b .elementor-nav-menu--main .elementor-item:focus{color:#FFFFFF;}@media(max-width:1024px){.elementor-2377 .elementor-element.elementor-element-9ba11b1{margin-top:-3px;margin-bottom:0px;}.elementor-2377 .elementor-element.elementor-element-244ba3b > .elementor-element-populated{margin:0px 0px 0px 13px;}}@media(max-width:767px){.elementor-2377 .elementor-element.elementor-element-dd044e2{margin-top:-25px;margin-bottom:0px;}.elementor-2377 .elementor-element.elementor-element-244ba3b > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-2377 .elementor-element.elementor-element-43cea66d .elementor-spacer-inner{height:5px;}}@media(min-width:768px){.elementor-2377 .elementor-element.elementor-element-067217b{width:40%;}.elementor-2377 .elementor-element.elementor-element-70827c7{width:60%;}.elementor-2377 .elementor-element.elementor-element-ea5be48{width:35%;}.elementor-2377 .elementor-element.elementor-element-0a8febd{width:65%;}.elementor-2377 .elementor-element.elementor-element-4a66adaf{width:30%;}.elementor-2377 .elementor-element.elementor-element-2f57cea3{width:30%;}.elementor-2377 .elementor-element.elementor-element-244ba3b{width:39.666%;}}/* Start custom CSS for html, class: .elementor-element-4d70c9d */#txtUserName, #password {
    width: 100%;
    margin-bottom: 10px;
}


#btnLogin {
    background: #b57e1001;
    background: -moz-linear-gradient(-45deg,rgba(181,126,16,1) 0%,rgba(249,223,123,1) 50%,rgba(200,153,46,1) 100%);
    background: -webkit-linear-gradient(-45deg,rgba(181,126,16,1) 0%,rgba(249,223,123,1) 50%,rgba(200,153,46,1) 100%);
    background: linear-gradient(135deg,rgba(181,126,16,1) 0%,rgba(249,223,123,1) 50%,rgba(200,153,46,1) 100%);
    border: 1px solid rgba(249,223,123,1);
    border-radius: 3px;
    text-align: center;
    padding: 7px  7px;
    color: #602e0f;
    display: inline-block;
    width: 100%;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-45750e9 */#btnmember {
    width: 100%;
     background: linear-gradient(0deg, #725638, #e9bb79);
  color: #000;
  border-color: #FFD700;
   -webkit-animation: neon-member 1.5s ease-in-out infinite alternate;
    
    animation: neon-member 1.5s ease-in-out infinite alternate
}

@-webkit-keyframes neon-member {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 13px 	#FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700
    }
    to {
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 4px #fff, 0 0 3px #424140, 0 0 4px #424140, 0 0 10px #FFD700, 0 0 10px #FFD700, 0 0 10px #FFD700
    }
}

@media only screen and (max-width: 855px) {
  #btnmember {
    
    width: 100%;
    
  }
}
@media only screen and (max-width: 768px) {
  #btnmember {
    
    width: 110%;
  }
}
@media only screen and (max-width: 767px) {
  #btnmember {
    
    width: 100%;
  }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-91299dd */#btnmember4 {
    width: 100%;
     background: linear-gradient(0deg, #725638, #e9bb79);
  color: #000;
  border-color: #FFD700;
   -webkit-animation: neon-member 1.5s ease-in-out infinite alternate;
    
    animation: neon-member 1.5s ease-in-out infinite alternate
}

@-webkit-keyframes neon-member {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 13px 	#FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700
    }
    to {
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #424140, 0 0 8px #424140, 0 0 14px #FFD700, 0 0 18px #FFD700, 0 0 22px #FFD700
    }
}

@media only screen and (max-width: 855px) {
  #btnmember3 {
    
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #btnmember3 {
    
    width: 93%;
  }
}
@media only screen and (max-width: 767px) {
  #btnmember3 {
    
    width: 100%;
  }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-21f9f65a */#wLine {
    width: 100%;
    -webkit-animation: neon-linesportvibe 1.5s ease-in-out infinite alternate;
    background: linear-gradient(0deg, #725638, #e9bb79);
  color: #000;
   animation: neon-member 1.5s ease-in-out infinite alternate
}
@media only screen and (max-width: 855px) {
  #wLine {
    
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #wLine {
    
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #wLine {
    
    width: 100%;
  }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-4718eb9d */#btnmember {
    width: 100%;
     background: linear-gradient(0deg, #725638, #e9bb79);
  color: #000;
  border-color: #FFD700;
   -webkit-animation: neon-member 1.5s ease-in-out infinite alternate;
    
    animation: neon-member 1.5s ease-in-out infinite alternate
}

@-webkit-keyframes neon-member {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 13px 	#FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700
    }
    to {
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 4px #fff, 0 0 3px #424140, 0 0 4px #424140, 0 0 10px #FFD700, 0 0 10px #FFD700, 0 0 10px #FFD700
    }
}

@media only screen and (max-width: 855px) {
  #btnmember {
    
    width: 100%;
    
  }
}
@media only screen and (max-width: 768px) {
  #btnmember {
    
    width: 110%;
  }
}
@media only screen and (max-width: 767px) {
  #btnmember {
    
    width: 100%;
  }
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-31a4a99c */#btnmember3 {
    width: 70%;
     background: linear-gradient(0deg, #725638, #e9bb79);
  color: #000;
  border-color: #FFD700;
   -webkit-animation: neon-member 1.5s ease-in-out infinite alternate;
    
    animation: neon-member 1.5s ease-in-out infinite alternate
}

@-webkit-keyframes neon-member {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 13px 	#FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700, 0 0 5px #FFD700
    }
    to {
        box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #424140, 0 0 8px #424140, 0 0 14px #FFD700, 0 0 18px #FFD700, 0 0 22px #FFD700
    }
}

@media only screen and (max-width: 855px) {
  #btnmember3 {
    
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  #btnmember3 {
    
    width: 93%;
  }
}
@media only screen and (max-width: 767px) {
  #btnmember3 {
    
    width: 100%;
  }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2639f6c7 */#barbottom {
    /*background: radial-gradient(circle, rgba(93,71,23,1) 25%, rgba(135,109,53,1) 65%, rgba(157,113,18,0.8883928571428571) 100%);*/
    background: radial-gradient(circle, rgba(239,222,134,1) 25%, rgba(135,109,53,1) 65%, rgba(157,113,18,0.8883928571428571) 100%);




}/* End custom CSS */